<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoSplitHelper_OpenCV.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll"></probing>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <AutoSplitHelper_OpenCV.My.MySettings>
            <setting name="numcv_camerano" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="numprofile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkoverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numcv_device" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkloading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numsavex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numsavey" serializeAs="String">
                <value>0</value>
            </setting>
        </AutoSplitHelper_OpenCV.My.MySettings>
    </userSettings>
</configuration>